body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

nav {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  column-gap: 30px;
}

button {
  background: none;
  border: none;
  font-weight: bold;
  height: 30px;
  font-size: 1em;
}

button:hover {
  border-bottom: 2px solid black;
}

.borderB {
  border-bottom: 2px solid black;
}

.info {
  background: lightblue;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 50px;
}

.home-background {
  border-radius: 20px;
  grid-column: 2;
  width: 700px;
  margin-right: 50px;
}

.msg {
  padding-left: 50px;
}

.menu-container {
  background: lightblue;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 20px;
}

.menu-items {
  width: 200px;
  justify-self: end;
  border-radius: 20px;
}

.menu-contents {
  font-size: 1.5em;
  padding-top: 20px;
  white-space: pre-line;
  font-weight: bold;
}
